*,
  *::before,
  *::after {
    box-sizing: border-box;
  }
@media all and (max-width: 600px) {

   html{
     min-width: 100%;
   }
   body{
      min-width: 100%;
      margin: 0 auto;
      padding-left: 0px;
   }
   main{
      align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

   }
   

main .left-to-right article header {
    margin-top: 200px;
    text-align: center;
}
main .left-to-right article {
   display: flex;
   flex-direction: column;
   min-width: 450px;
   min-height: 450px;
   padding: 75px;
   color: #6c6c6c;
   border-radius: 80px;
   background-color: white;
   justify-content: center;
}
body > main > section:nth-child(1) > article > p{
   font-weight: 300;
   line-height: 2;

}
 button{
   display: none;
}
main section:nth-child(2), main section:nth-child(4) {
   display: flex;align-items: center;
   justify-content: center;
   flex-direction: column;
   margin: 40px;
   margin: 20px auto;
   background-color: white;
}

}