@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/* Font Awsosome-------- */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");

body {
  margin: 0;
  padding: 0;
  font-family: "Courgette", cursive;
  background-color: #F5F5F5;
  padding: 30px;
}
*,
  *::before,
  *::after {
    box-sizing: border-box;
  }
ol,
ul {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
}

section {
  margin: 0 auto;
  min-width: 100%;
  margin-top: 40px;
  display: flex;
}
.title {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
  font-weight: 100;
}
.sub-title {
  margin: 0 auto;
  text-align: center;
  color: #cb2027;
  padding-left: 220px;
}
.box {
  margin: 10px;
  max-width: 30%;
  background-color: #ffffff;
  border-radius: 20px;
}
img {
  max-width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.content {
  border-top: solid 1px #cb2027;
  width: 90%;
  background-color: #fff;
   margin: 0px 10px;

}
.content-title {
  text-align: center;
  color: green;
}
.content-text {
  display: flex;
 
  /* border-top: solid 1px  #CB2027;  */
  text-align: center;

  padding: 10px;
}
.continue {
  align-items: flex-end;
  display: flex;
  align-self: center;
  justify-content:center;
}
i {
  margin-left: 10px;

  background-color: #cb2027;
  padding: 2px 6px 10px 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  color: #fff;
}
 