@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* Font Awsosome-------- */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');


body {
    margin: 0;
    padding: 0;
 font-family: 'Courgette', cursive;;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .header{
    background: linear-gradient(
      rgba(250, 249, 249, 0.),
      rgba(250, 249, 249, 0.9)
    ),
    url('./image/computer-main.jpg');
  /*=========================================================== */
  min-height: 60vh;
  background-repeat: no-repeat;
  align-items: center;
  }

 
